<%= form_for [@survey, @question] , :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :type, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:qtype, QuestionType.all, :questiontype, :questiontype) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :desc, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :desc, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :answer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :answer, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :definition, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :definition, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :require, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :require, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :validate, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :validate, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :page, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :page, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :order, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :order, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', survey_questions_path(params[:survey_id]), :class => 'btn' %> 
  </div>
<% end %>
