<p>
    <strong><%= question.order %>. Type:</strong>
    <%= collection_select(:question, :qtype, QuestionType.all, :questiontype, :questiontype, :selected => question.qtype) %>
  </p>
 
  <p>
    <strong>Title:</strong>
    <%= question.title %></br>
    <%= question.desc %>
  </p>
  <p>
<div class="control-group">
<% if question.qtype == 'multiple' %>
<% question.definition.each_with_index do |t, index| %>
<label>
<div class="controls"><%= check_box_tag("question#{question.id}_[#{index}]") %> <%= t %>
</label>
<% end %>
<% end %>
<% if question.qtype == 'radio' %>
<% question.definition.each_with_index do |t, index| %>
<label>
<%= radio_button_tag("question_#{question.id}", index) %> <%= t %>
</label></br>
<% end %>
<% end %>
<% if question.qtype == 'dropdown' %>
<% dropdown_array = question.definition.each_with_index.map { |i, v| [i, v] } %>
<%= select_tag("question_#{question.id}", options_for_select(dropdown_array)) %>
<% end %>
<% if question.qtype == 'comment' %>
<%= text_area_tag :answer %>
<% end %>
<% if question.qtype == 'rating' %>
<%= custom_table_for(question.definition, question.order) do |t| %><%= t %>
<% end %>
<% end %>
<% if question.qtype == 'textbox' %>
<%= text_field_tag :answer %>
<% end %>
</div>