<% title "Questions" %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Desc</th>
      <th>Answer</th>
      <th>Definition</th>
      <th>Require</th>
      <th>Validate</th>
      <th>Page</th>
      <th>Order</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Survey</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @survey.questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= collection_select(:question, :qtype, QuestionType.all, :questiontype, :questiontype, :selected => question.qtype) %></td>
        <td><%= question.desc %></td>
        <td><%= question.answer %></td>
        <td><%= question.definition %></td>
        <td><%= check_box_tag(:question, :require, question.require, :disabled => true) %></td>
        <td><%= check_box_tag(:question, :validate, question.validate, :disabled => true) %></td>
        <td><%= question.page %></td>
        <td><%= question.order %></td>
        <td><%= question.created_at %></td>
        <td><%= question.updated_at %></td>
        <td><%= question.survey_id %></td>
        <td><%= question.user_id %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
<%= link_to 'Back to Surveys', surveys_path %>
<%= link_to 'To Survey', survey_path(@survey) %>
