<%- model_class = Question -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:qtype) %></th>
      <th><%= model_class.human_attribute_name(:desc) %></th>
      <th><%= model_class.human_attribute_name(:answer) %></th>
      <th><%= model_class.human_attribute_name(:definition) %></th>
      <th><%= model_class.human_attribute_name(:require) %></th>
      <th><%= model_class.human_attribute_name(:validate) %></th>
      <th><%= model_class.human_attribute_name(:page) %></th>
      <th><%= model_class.human_attribute_name(:order) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.id, survey_question_path(@survey, question) %></td>
        <td><%= question.title %></td>
        <td><%= collection_select(:question, :qtype, QuestionType.all, :questiontype, :questiontype, {:selected => question.qtype}, {:disabled =>  'disabled' })  %></td>
        <td><%= question.desc %></td>
        <td><%= question.answer %></td>
        <td><%= question.definition %></td>
        <td><%= check_box_tag(:question, :require, question.require, :disabled => true) %></td>
        <td><%= check_box_tag(:question, :require, question.validate, :disabled => true) %></td>
        <td><%= question.page %></td>
        <td><%= question.order %></td>
        <td><%=l question.created_at %></td>
        <td>
          <%= link_to 'Answers', survey_question_answers_path(@survey, question), :class => 'btn btn-mini' %> 
          <%= link_to 'Edit', edit_survey_question_path(@survey, question), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy',  survey_question_path(@survey, question), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '< Back', survey_path(@survey), :class => 'btn btn-primary' %> 
<%= link_to 'Add Question', new_survey_question_path(@survey), :class => 'btn btn-primary' %>
<%= link_to 'Surveys', surveys_path, :class => 'btn btn-primary' %>

