<% title "Forgot Your Password?" %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <label class="textbox">Email<br/>
  <%= f.email_field :email, :autofocus => true, :class => 'input-medium', :placeholder => 'someone@domain.com' %>
  </label>
  <%= f.submit "Reset password", :class => 'btn btn-medium btn-primary' %>
<% end %>
<div class="links">
<%= render "devise/shared/links" %>
</div>