<%= form_for [@survey, @answer], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :answer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :answer, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :response, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :resp, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :survey_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :survey_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :question_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :question_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', survey_answers_path(params[:survey_id]), :class => 'btn' %> 
  </div>
<% end %>
