<%- model_class = Answer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:answer) %></th>
      <th><%= model_class.human_attribute_name(:response) %></th>
      <th><%= model_class.human_attribute_name(:question_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= answer.answer %></td>
        <td><%= answer.response %></td>
        <td><%= link_to answer.question.order, survey_question_path(@survey, answer.question_id) %></td>
        <td><%=l answer.created_at, format: :short %></td>
        <td>
          <%= link_to 'Response', survey_response_path(@survey, answer.response_id), :class => 'btn btn-mini' %>
          <%= link_to 'details', survey_answer_path(@survey, answer), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @question %>
<%= link_to '< Back', survey_questions_path(@survey), :class => 'btn btn-primary' %> 
<% else %>
<%= link_to '< Back', survey_path(@survey), :class => 'btn btn-primary' %> 
<% end %>
<%= link_to 'Responses', survey_responses_path(params[:survey_id]), :class => 'btn btn-primary' %> 
