<%- model_class = Response -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:ip) %>:</strong></dt>
  <dd><%= @response.ip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:survey_id) %>:</strong></dt>
  <dd><%= @response.survey_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              survey_responses_path, :class => 'btn'  %>
  <%= link_to 'Answers', survey_response_answers_path(params[:survey_id], @response), :class => 'btn btn-primary' %> 
</div>
