<%= form_for @survey, :html => { :multipart => true, :class => 'form-horizontal'} do |f| %>
   <% if @survey.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>
 
       <ul>
       <% @survey.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
       </ul>
      </div>
   <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <% if current_user.has_role? :admin or current_user.has_role?  :paidm  %>
  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :image, :class => 'text_field'  %>
    </div>
  </div>
  <% end %>
  <% if current_user.has_role? :admin %>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'text_field' %>
    </div>
  </div>
  <% end %>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                survey_path(@survey), :class => 'btn' %>
  </div>
<% end %>
