<% title "Surveys" %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.title %></td>
        <td><%= survey.created_at %></td>
        <td><%= survey.updated_at %></td>
        <td><%= link_to 'View', survey %></td>
        <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
        <td><% if can? :delete, @survey %><%= link_to 'Delete', survey, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survey', new_survey_path %><br>
<%= link_to :logout, destroy_user_session_path, :method => :delete %>
