<% title "View survey" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @survey.title %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @survey.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @survey.updated_at %>
</p>

<h2>Questions</h2>
<%= render @survey.questions %>

<p/>
<%= link_to 'Edit', edit_survey_path(@survey) %> | <%= link_to 'View Questions', survey_questions_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
