<% title "View survey" %>
<%- model_class = Survey -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @survey.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @survey.user.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:collect) %>:</strong></dt>
  <dd><%= check_box :survey, :collect, :disabled => true %> </dd>    
  <dt><strong><%= model_class.human_attribute_name(:start) %>:</strong></dt>
  <dd><%= @survey.start %> <%#=l @survey.start, format: :long %></dd>
  <dt><strong><%= model_class.human_attribute_name(:end) %>:</strong></dt>
  <dd><%= @survey.end %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_at) %>:</strong></dt>
  <dd><%= @survey.created_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:updated_at) %>:</strong></dt>
  <dd><%= @survey.updated_at %></dd>
  <%# extra features for paid members and admins %>
  <% if current_user.has_role? :admin or current_user.has_role?  :paidm  %>
  <dt><strong><%= model_class.human_attribute_name(:redirect) %>:</strong></dt>
  <dd><%= @survey.redirect %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image_path) %>:</strong></dt>
  <dd><%= @survey.image %></dd>
  <% end %>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              surveys_path, :class => 'btn'  %>
  <%= link_to 'Answers', survey_answers_path(@survey), :class => 'btn' %> 
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_survey_path(@survey), :class => 'btn' %>
  <%= link_to 'View Questions', survey_questions_path(@survey), :class => 'btn' %> 
  <%#= link_to 'Render', r_survey_path(@survey), :class => 'btn' %> 
  <%= link_to 'Render', new_survey_response_path(@survey), :class => 'btn' %> 
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              survey_path(@survey),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

<dl class="dl-horizontal">
 <h2>Preview:</h2>
 <%= image_tag @survey.image_url.to_s %>
 <%= render @survey.questions.sort_by { |a| a.order }  %>
</dl>

